.page {
	background-color: white;
}

.header {
	/* position: absolute; */
	width: 100vw;
}

.content {
	min-height: 89vh;
	/* height: 89vh; */
}

.footer {
	/* position: relative; */
	/* top: -100px; */
}
