.subMenu {
	width: 100%;
	margin: auto;
	background-color: white;
	overflow: clip;

	max-height: 0;
	transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.subMenuOpen {
	height: auto;
	max-height: 9999px;
	transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}
