@use "../../../../../scss/text/" as text;
@use "../../../../../scss/colours/" as colours;

.root {
	display: flex;

	.title {
		margin: 2rem 0 1rem;
		font-size: text.$page-title-sm;
		font-family: text.$page-title-font;
		color: colours.$titleColourDark;

		@media screen and (min-width: 600px) {
			font-size: text.$page-title-lg;
		}
	}
}
.left {
	justify-content: left;
}
.right {
	justify-content: right;
}
.center {
	justify-content: center;
}
