@import "../../styles/colors.scss";
/* This is where we should set up some scss variables */
/* We want to store all of the sunlight foundations colours */
.tick line {
	stroke: $lineGrey;
}

.tick text {
	fill: $textMain;
	font-family: Poppins;
}
