$page-title-font: Helvetica, Arial, freesans, sans-serif;
$component-title-font: Helvetica, Arial, freesans, sans-serif;
$title-font: Helvetica, Arial, freesans, sans-serif;
$text-font: Helvetica, Arial, freesans, sans-serif;
$link-font: Helvetica, Arial, freesans, sans-serif;

$page-title-lg: 3rem;
$page-title-sm: 2.5rem;

$component-title-lg: 2.25rem;
$component-title-sm: 1.75rem;

$title-font-weight: bold;
$text-font-weight: medium;

@mixin maxLines($lines) {
	overflow: clip;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $lines; /* number of lines to show */
	line-clamp: $lines;
	-webkit-box-orient: vertical;
}
