@use "../../../../../scss/text" as text;
@use "../../../../../scss/ui/" as ui;

.root {
	// to position us at the bottom
	position: absolute;
	bottom: 0;
	width: 100%;

	display: flex;
	// flex-wrap: wrap;
	justify-content: space-between;
	margin: 0.25rem 0;
	padding: 1rem 0 0;

	font-family: text.$text-font;
	font-weight: text.$text-font-weight;
	font-size: 0.8rem;
	line-height: 0.8rem;
	font-style: italic;

	border-top: ui.$divider;

	// Removed - we have our way
	// &.start {
	// 	justify-content: start;
	// }
	// &.end {
	// 	justify-content: end;
	// }
	// &.split {
	// 	justify-content: space-between;
	// }
}

.container {
	display: flex;
	flex-direction: column;
}
.left {
	align-items: start;
}

.right {
	align-items: end;
}
