$background: #efecea;
$backgroundLight: #f5f3f2;
$backgroundDark: #e5e2e0;
$textMain: #635f5d;
$textLight: #8e8883;
$lineWhite: #ffffff;
$lineGrey: #c0c0bb;

$data1: #f2da57;
$data2: #e3ba22;
$data3: #b08b12;
$data4: #f6b656;
$data5: #e58429;
$data6: #ba5f06;
$data7: #e25a42;
$data8: #bd2d28;
$data9: #8c3b00;
$data10: #dcbdcf;
$data11: #d15a86;
$data12: #6d191b;
$data13: #b396ad;
$data14: #8e6c8a;
$data15: #842854;
$data16: #b0cbdb;
$data17: #6b99a1;
$data18: #5f7186;
$data19: #33b6d0;
$data20: #42a5b3;
$data21: #193556;
$data22: #7abfcc;
$data23: #0f8c79;
$data24: #137b80;
$data25: #c8d7a1;
$data26: #6bbba1;
$data27: #144847;
$data28: #a0b700;
$data29: #5c8100;
$data30: #254e00;

// Would it always be fill though?
// fill1 makes sense
// We now want stroke for lines
.data1 {
	fill: $data1;
}
.data2 {
	fill: $data2;
}
.data3 {
	fill: $data3;
}
.data4 {
	fill: $data4;
}
.data5 {
	fill: $data5;
}
.data6 {
	fill: $data6;
}
.data7 {
	fill: $data7;
}
.data8 {
	fill: $data8;
}
.data9 {
	fill: $data9;
}
.data10 {
	fill: $data10;
}
.data11 {
	fill: $data11;
}
.data12 {
	fill: $data12;
}
.data13 {
	fill: $data13;
}
.data14 {
	fill: $data14;
}
.data15 {
	fill: $data15;
}
.data16 {
	fill: $data16;
}
.data17 {
	fill: $data17;
}
.data18 {
	fill: $data18;
}
.data19 {
	fill: $data19;
}
.data20 {
	fill: $data20;
}
.data21 {
	fill: $data21;
}
.data22 {
	fill: $data22;
}
.data23 {
	fill: $data23;
}
.data24 {
	fill: $data24;
}
.data25 {
	fill: $data25;
}
.data26 {
	fill: $data26;
}
.data27 {
	fill: $data27;
}
.data28 {
	fill: $data28;
}
.data29 {
	fill: $data29;
}
.data30 {
	fill: $data30;
}

.stroke1 {
	stroke: $data1;
}
.stroke2 {
	stroke: $data2;
}
.stroke3 {
	stroke: $data3;
}
.stroke4 {
	stroke: $data4;
}
.stroke5 {
	stroke: $data5;
}
.stroke6 {
	stroke: $data6;
}
.stroke7 {
	stroke: $data7;
}
.stroke8 {
	stroke: $data8;
}
.stroke9 {
	stroke: $data9;
}
.stroke10 {
	stroke: $data10;
}
.stroke11 {
	stroke: $data11;
}
.stroke12 {
	stroke: $data12;
}
.stroke13 {
	stroke: $data13;
}
.stroke14 {
	stroke: $data14;
}
.stroke15 {
	stroke: $data15;
}
.stroke16 {
	stroke: $data16;
}
.stroke17 {
	stroke: $data17;
}
.stroke18 {
	stroke: $data18;
}
.stroke19 {
	stroke: $data19;
}
.stroke20 {
	stroke: $data20;
}
.stroke21 {
	stroke: $data21;
}
.stroke22 {
	stroke: $data22;
}
.stroke23 {
	stroke: $data23;
}
.stroke24 {
	stroke: $data24;
}
.stroke25 {
	stroke: $data25;
}
.stroke26 {
	stroke: $data26;
}
.stroke27 {
	stroke: $data27;
}
.stroke28 {
	stroke: $data28;
}
.stroke29 {
	stroke: $data29;
}
.stroke30 {
	stroke: $data30;
}
