@use "greyscale";
@forward "greyscale";

$backgroundMain: greyscale.$whiteSmoke;
$textColourDark: greyscale.$darkestGrey;
$textColourLight: greyscale.$gainsboro;

$titleColourDark: greyscale.$darkestGrey;
$titleColourLight: greyscale.$gainsboro;
