@use "../../../../scss/colours/" as colours;
@use "../../../../scss/ui/" as ui;

.root {
	.toolbar {
		padding: 0;
		margin: 0;

		border-bottom: ui.$divider;

		display: flex;
		justify-content: center;
	}
}
