@use "../../../scss/text/" as text;
@use "../../../scss/ui/" as ui;

.root {
	padding: 2rem 0;
	font-family: text.$text-font;

	.container {
		text-align: left;
	}
	.copyright {
		padding: 2rem 0;
	}
	.divider {
		border-top: ui.$divider;
	}
}
