$display-columns: 100%;
$lg-columns: 20%;
$md-columns: 30%;
$sm-columns: 45%;
$xs-columns: 100%;

// should be root? / should be
.columns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;

	&.columns-4,
	&.columns-3,
	&.columns-2,
	&.columns-1 {
		> div {
			flex: 1 1 100%;
		}
	}

	// Container works superbly for this
	// We may well be overrelying on it - see text in cards etc
	container-type: inline-size;

	@container (min-width: 600px) {
		gap: 0.5rem;
		&.columns-4,
		&.columns-3,
		&.columns-2 {
			> div {
				flex: 1 1 45%;
			}
		}
		&.columns-1 {
			> div {
				flex: 1 1 100%;
			}
		}
	}

	@container (min-width: 900px) {
		gap: 1rem;
		&.columns-4,
		&.columns-3 {
			> div {
				flex: 1 1 30%;
			}
		}
		&.columns-2 {
			> div {
				flex: 1 1 45%;
			}
		}
		&.columns-1 {
			> div {
				flex: 1 1 100%;
			}
		}
	}

	@container (min-width: 1200px) {
		gap: 1rem;
		// almost crtainly a better way
		&.columns-4 {
			// ooh not okay
			// select firstChild at least
			> div {
				// container query has to be here no?
				flex: 1 1 20%;
			}
		}
		&.columns-3 {
			> div {
				flex: 1 1 30%;
			}
		}
		&.columns-2 {
			> div {
				flex: 1 1 45%;
			}
		}
		&.columns-1 {
			> div {
				flex: 1 1 100%;
			}
		}
	}

	&.display {
		> div {
			&:first-child {
				flex: 1 1 $display-columns;
			}
		}
	}
}

.card-l2r,
.card-r2l {
	&.columns {
		container-type: inline-size;

		gap: 0.5rem;
		&.columns-4,
		&.columns-3,
		&.columns-2,
		&.columns-1 {
			> div {
				flex: 1 1 100%;
			}
		}

		@container (min-width: 1536px) {
			gap: 1rem;
			&.columns-4 {
				> div {
					flex: 1 1 20%;
				}
			}
			&.columns-3 {
				> div {
					flex: 1 1 30%;
				}
			}
			&.columns-2 {
				> div {
					flex: 1 1 45%;
				}
			}
			&.columns-1 {
				> div {
					flex: 1 1 100%;
				}
			}
		}

		@container (min-width: 1200px) {
			gap: 1rem;
			&.columns-4,
			&.columns-3 {
				> div {
					flex: 1 1 30%;
				}
			}
			&.columns-2 {
				> div {
					flex: 1 1 45%;
				}
			}
			&.columns-1 {
				> div {
					flex: 1 1 100%;
				}
			}
		}

		@container (min-width: 900px) {
			gap: 0.5rem;
			&.columns-4,
			&.columns-3,
			&.columns-2 {
				> div {
					flex: 1 1 45%;
				}
			}
			&.columns-1 {
				> div {
					flex: 1 1 100%;
				}
			}
		}

		&.display {
			> div {
				&:first-child {
					flex: 1 1 $display-columns;
				}
			}
		}
	}
}
